@import url('https://masumbillah6778.github.io/fonts/english/english-custom-font.css');
@import url('https://masumbillah6778.github.io/fonts/bangla/bangla-custom-font.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*======================================== Top Menu ========================================*/

.header {
    background-color: gray;
    idth: 100%;
    height: 6vh;
    padding: 0;
    display: flex;
    top: 0;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 20px 0px rgba(132, 144, 255, 0.2);
    z-index: 9;
}

.header img {
  width: 30px;
  height: 30px;
  margin: 10px 0px 0px 30px;
  border-radius: 100px;
}

.brand-logo-name {
    text-decoration: none;
    color: #fff;
    margin-top: -70px;
    padding: 5px;
    font-size: 30px;
    font-family: 'love-letters';
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: var(--heading-a-tag-color);
    transition: color 0.3s ease;
}

a.active {
  background-color: rgb(255,0,0);
  color: white;
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 10px;
}

a:hover {
    color: var(--heading-a-tag-hover-color);
}

.navbar-lists {
    list-style-type: none;
    margin: 30px;
    padding: 0;
    display: flex;
}

.navbar-lists li {
    margin-right: 20px;
}

.navbar-lists li:last-child {
    margin-right: 0;
}

.navbar-link {
    color: var(--heading-a-tag-color);
    padding: 10px;
    transition: background-color 0.3s;
}

.icon {
    display: none;
}

.navbar-lists li:nth-child(1) i {
    color: rgb(0,128,0);
}

.navbar-lists li:nth-child(2) i {
    color: rgb(0,0,255);
}

.navbar-lists li:nth-child(3) i {
    color: rgb(255,215,0);
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.audio-heading {
    color: red;
    font-size: 25px;
    font-family: 'sonsieone';
}

.vdieo-heading {
    color: red;
    font-size: 25px;
    font-family: 'sonsieone';
}

.imges-heading {
    color: red;
    font-size: 25px;
    font-family: 'sonsieone';
}














.content-box {
background-image: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgHOURBkhU6p3J4oiw_71K7FOVpjnyvwNQydebB3sLCyo-njqE_c-hZB-7oG8WTsyyOBjJ_A-72i4LVdR2OkS7-SKwbVJqIFfTvbdQD5x3IKzq1jgkcc9_jJfSSlkpx-hdUSW0OHRv5pQ0UH6CHXgp1uqWOlFtyCC_JZfIuL4fKE160qEzC6MGg3GffLpQ/s1600/20240815_181425.jpg");
  height: ;
  margin: 0;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  width: 50%;
  margin: 30px;
  padding: 25px 30px;
  overflow: hidden;
  position: relative;
  backdrop-filter: blur(10px);
  border-radius: 25px;
  border: 3px solid blue;
}

.wrapper i {
  cursor: pointer;
}

.top-bar,
.progress-area .song-timer,
.controls,
.music-list .header,
.music-list ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar i {
  font-size: 30px;
  color: white
}

.top-bar i:first-child {
  margin-left: -7px;
}

.top-bar span {
  color: yellow;
  margin-left: -3px;
  font-size: 20px;
  font-family: timse;
  font-weight: bold;
}

.img-area {
  width: 50%;
  aspect-ratio: 16 / 9;
  /*height: 256px;*/
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  display: block;
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: 0px 6px 12px var(--lightbshadow);
}

.img-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song-details {
  text-align: center;
  margin: 30px 0;
}

.song-details p {
  color: white;
}

.song-details .name {
  color: white;
  font-size: 20px;
  font-family: 'solaiman-lipi';
  font-weight: bold;
}

.song-details .artist {
  color: yellow;
  font-size: 15px;
  font-family: 'solaiman-lipi';
  opacity: 0.9;
  line-height: 35px;
}

/*=========== progress-area ==========*/
.progress-area {
  height: 6px;
  width: 100%;
  border-radius: 50px;
  background: #f0f0f0;
}

.progress-area .progress-bar {
  height: inherit;
  width: 0%;
  position: relative;
  border-radius: inherit;
  background: linear-gradient(90deg, green 0%, red 100%);
  /*cursor: grabbing;*/
  cursor: pointer;
}

.progress-bar::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  top: 50%;
  right: -5px;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
  background: inherit;
  transition: opacity 0.2s ease;
  cursor: pointer;
}

.progress-area:hover .progress-bar::before {
  opacity: 1;
  pointer-events: auto;
}

.progress-area .song-timer {
  margin-top: 2px;
}

.song-timer .current-time {
  font-size: 20px;
  color: yellow;
  font-family: times;
  font-weight: bold;
}

.song-timer .max-duration {
  font-size: 20px;
  color: white;
  font-family: times;
  font-weight: bold;
}
  
  
/*=========== Volume ==========*/
.volume-area {
  color: white;
  margin-top: 40px;
  text-align: center;
}
.volume-area i {
  background: red;
  color: yellow;
  padding: 5px;
}
  
.volume-area #display1 {
  background: red;
  color: white;
  padding: 5px;
  font-size: 15px;
  font-family: times;
  font-weight: bold;
}
  
  
/*========== Control ==========*/

.controls {
  margin: 40px 0 5px 0;
  border: 2px solid cyan;
}
  
.controls #repeat-plist {
  background: blue;
  color: yellow;
  padding: 10px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 0px 5px yellow;
}
  
.controls #prev {
  background: green;
  color: white;
  padding: 10px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 0px 5px yellow;
}
  
.controls .play-pause {
  background: red;
  color: gold;
  width: 50px;
  height: 50px;
  padding: 10px;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  border: 4px solid gold;
  border-radius: 50%;
  box-shadow: 0px 0px 5px red;
}
  
.controls #next {
  background: green;
  color: white;
  padding: 10px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 0px 5px yellow;
}
  
.controls #more-music {
  background: gold;
  color: red;
  padding: 10px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 0px 5px red;
}
  
.material-icons {
  =
}

  
  
/*======== Music Header =======*/

.music-list {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 15px 30px;
  left: 0;
  bottom: -55%;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  backdrop-filter: blur(10px);
  z-index: 5;
  border: 2px solid yellow;
  border-radius: 25px;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.15s ease-out;
}

.music-list.show {
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
}

.header .row {
  font-size: 25px;
  color: white;
  font-family: times;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.header .row i {
  cursor: default;
}

.header .row span {
  margin-left: 5px;
}

.header #close {
  background: yellow;
  color: red;
  font-size: 20px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0px 0px 5px red;
}
  
 
/*======== Music List =======*/
.music-list ul {
  margin: 10px 0;
  max-height: 260px;
  overflow: auto;
}
  
.widget .post-body ul {
  padding: 0;
}

.music-list ul::-webkit-scrollbar {
  width: 0px;
}

.music-list ul li .row span {
  color: yellow;
  padding: 10px;
  font-size: 15px;
  font-family: 'solaiman-lipi';
  font-weight: bold;
  text-shadow: 1px 1px 1px green, 0 0 2px blue, 0 0 2px red;
}

.music-list ul li .row p {
  padding: 0px 10px 10px 10px;
  opacity: 0.9;
}

.music-list ul li {
  color: white;
  font-size: 10px;
  font-family: 'solaiman-lipi';
  list-style: none;
  display: flex;
  cursor: pointer;
  padding-bottom: 20px;
  margin-bottom: 5px;
}
  
.music-list ul li:before {
  content: "";
  font-family: fontawesome;
}

.music-list ul li:last-child {
  border-bottom: 0px;
}
  
/*=================== Active Song ==============================*/

ul li .row span {
  color: black;
  padding: 12px;
  pointer-events: none;
}

ul li.playing {
  background-color: white;
  color: green;
  padding: 12px;
  pointer-events: none;
}
  
ul li .audio-duration {
  color: red;
  padding: 0px 10px 0px 0px;
  font-size: 10px;
  font-weight: bold;
}
  
  
  
  



/*======================================== FOOTER ========================================*/

footer {
    background-color: #333;
    color: #fff;
    width: 100%;
    height: 7vh;
    padding: 0px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
}

footer p {
    color: yellow;
    padding: 3px;
    font-size: 30px;
    font-family: 'love-letters';
}

footer img {
  width: 20px;
  height: 20px;
  margin-top: 3px;
}

.dark-mode footer {
    background-color: #222;
    border-top: 2px solid #fff;
}







  
  
  
/* ==================== MOBILE SCREEN ==================== */  
  
@media only screen and (max-width: 400px) {
  ..controls i {
    font-size: 10px;
  }
}
  
@media (max-width: 687px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr;
    align-items: start;
  }
}

@media (max-width: 369px) {
  .header h1 {
    font-size: 35px;
  }

  .header h5 {
    font-size: 11px;
  }

  .wrapper {
    width: 245px;
  }

  .img-area {
    height: 125px;
  }

  .song-details .name {
    font-size: 11px;
  }

  .song-details .artist {
    font-size: 12px;
  }

  .controls i {
    font-size: 15px;
  }

  .controls i:nth-child(2),
  .controls i:nth-child(4) {
    font-size: 30px;
  }

  .controls .play-pause {
    height: 20px;
    width: 20px;
  }

  .header .row {
    font-size: 12px;
  }

  .material-icons {
    font-size: 19px;
  }

  .header #close {
    font-size: 20px;
  }

  .music-list ul li .row span {
    font-size: 13px;
  }

  .music-list ul li .row p {
    font-size: 13px;
  }
}
