@import url('https://masumbillah6778.github.io/fonts/english/english-custom-font.css');
@import url('https://masumbillah6778.github.io/fonts/bangla/bangla-custom-font.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-green-color: #36ed22;
    --aboutus-background-green-color: rgb(28, 225, 97);
    --heading-color: #000;
    --primary-color: #2162e3;
    --heading-a-tag-color: #fff;
    --heading-a-tag-hover-color: #212121;
    --all-h2-color: #000;
    --aboutus-strong-color: #000;
    --aboutus-p-tag-color: #008;
    --aboutus-border-color: rgb(28, 225, 97);
}

.dark-mode {
    --header-green-color: #515251;
    --aboutus-background-green-color: rgb(7, 8, 7);
    --heading-color: #fff;
    --primary-color: #212121;
    --heading-a-tag-color: #f2f3f9;
    --heading-a-tag-hover-color: #36ed22;
    --all-h2-color: #fff;
    --aboutus-strong-color: #36ed22;
    --aboutus-p-tag-color: #fff;
    --aboutus-border-color: rgb(142, 144, 143);
}

body {
    background-image: url("https://github.com/masumbillah6778/image/raw/main/tania1.jpg");
    background-color: rgb(0,0,0,.2);
    background-blend-mode: overlay;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /*width: 962px;
    aspect-ratio: 16 / 9;*/
    line-height: 1.6;
    overflow-x: hidden;
    border: 2px solid red;
}



body.dark-mode {
    background-image: url("https://github.com/masumbillah6778/image/raw/main/tania-thumbnail.jpg");
    background-color: ed;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /*width: 962px;
    aspect-ratio: 16 / 9;*/
    line-height: 1.6;
    overflow-x: hidden;
    border: 2px solid red;
}






/*======================================== Top Menu ========================================*/

.header {
    background-color: gray;
    width: 100%;
    height: 10vh;
    padding: 1.6rem 4.8rem;
    display: flex;
    top: 0;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 20px 0px rgba(132, 144, 255, 0.2);
    z-index: 9;
}

.dark-mode .header {
    background-color: #3beb2b;
}

/*======================================== Top Menu ========================================*/

.header {
    background-color: gray;
    idth: 100%;
    height: 9vh;
    padding: 0;
    display: flex;
    top: 0;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 20px 0px rgba(132, 144, 255, 0.2);
    z-index: 9;
}

.dark-mode .header {
    background-color: black;
}

.header img {
  width: 30px;
  height: 30px;
  margin: 10px 0px 0px 30px;
  border-radius: 100px;
}

.brand-logo-name {
    text-decoration: none;
    color: #fff;
    margin-top: -70px;
    padding: 5px;
    font-size: 30px;
    font-family: 'love-letters';
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: var(--heading-a-tag-color);
    transition: color 0.3s ease;
}

a.active {
  background-color: rgb(255,0,0);
  color: white;
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 10px;
}

a:hover {
    color: var(--heading-a-tag-hover-color);
}

.navbar-lists {
    list-style-type: none;
    margin: 30px;
    padding: 0;
    display: flex;
}

.navbar-lists li {
    margin-right: 20px;
}

.navbar-lists li:last-child {
    margin-right: 0;
}

.navbar-link {
    color: var(--heading-a-tag-color);
    padding: 10px;
    transition: background-color 0.3s;
}

.icon {
    display: none;
}

.navbar-lists li:nth-child(1) i {
    color: rgb(0,128,0);
}

.navbar-lists li:nth-child(2) i {
    color: rgb(0,0,255);
}

.navbar-lists li:nth-child(3) i {
    color: rgb(255,215,0);
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.audio-heading {
    color: red;
    font-size: 25px;
    font-family: 'sonsieone';
}

.vdieo-heading {
    color: red;
    font-size: 25px;
    font-family: 'sonsieone';
}

.imges-heading {
    color: red;
    font-size: 25px;
    font-family: 'sonsieone';
}














.main-thumbnail img {
  width: 97%;
  height: ;
  margin: 5px;
  border: 2px solid Magenta;
  border-radius: 10px;
}

h1 {
  color: white;
  font-family: 'oleoscript';
  text-align: center;
}

*,:after,:before{box-sizing:border-box}
.pull-left{float:left}
.pull-right{float:right}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}

.track{
    width:2px;
    margin-right:5px;
    background:rgba(0,0,0,0);
    transition:background 250ms linear;
}
.track:hover,
.track.dragging{
    background: Pink;
    background:rgba(0,0,0,.15);
}
.handle{
    right:0;
    width:2px;
    background: Brown;
    transition:width 250ms;
    background:rgba(255,255,255,.2);
}

.mhn-player {
  width: 100%;
  height: 450px;
  padding: 0px 15px;
  position:relative;
  margin: 0px auto 0;
  background:rgba(0,0,0,.9);
  box-shadow:0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21);
  border: 2px solid Red;
}
.mhn-player .album-art,
.mhn-player .album-thumb{
  background: url(=) no-repeat center / 50%;
}
.mhn-player .album-art {
  width: 100%;
  height: 250px;
  overflow:hidden;
  position:relative;
  border: 2px solid White;
}
.mhn-player .album-art img{
  width:100%;
  display:block;
}
.mhn-player .album-art:before{
  top:30px;
  left:50%;
  width:200px;
  content:'music';
  font-size:72px;
  font-weight:600;
  position:absolute;
  margin-left:-100px;
  color:rgba(255,255,255,.4);
}
.mhn-player .album-art:after{
  top:0;
  left:0;
  content:'';
  width:inherit;
  height:inherit;
  position:absolute;
  background:linear-gradient(to bottom, rgba(0,0,0,.2),  rgba(0,0,0,1));
}
.mhn-player .album-art img{
  width:100%;
  position:relative;
}
.mhn-player .album-art.blur img{
  -webkit-filter:blur(3px);
  -moz-filter:blur(3px);
  filter:blur(3px);
}
.mhn-player a{
  color:inherit;
  text-decoration:none;
}
.mhn-player .play-list {
  top: 55px;
  left: 15px;
  right: 15px;
  display: none;
  bottom: 245px;
  overflow-y: auto;
  position: absolute;
  width: auto!important;
  background: rgba(0,0,0,.4);
  padding-right: 1px!important;
}
.mhn-player .play-list a {
  color: white;
  padding: 6px 10px;
  font-family: solaiman-lipi;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all .4s ease-in-out 0s;
}
.mhn-player .play-list a:hover {
  background: rgba(255,255,255,.2);
}
.mhn-player .play-list a.active {
  background: green;
}
.mhn-player .play-list .album-thumb {
  width: 35px;
  height: 10px;
  overflow: hidden;
  margin-right: 10px;
  border: 2px solid Blue;
}

.mhn-player .play-list .album-thumb img {
  width: 100%;
  display: block;
  vertical-align: middle;
}

.mhn-player .play-list .songs-info {
  max-width: 240px;
  text-shadow: 0 2px 2px #000;
}

.mhn-player .play-list .songs-info .song-title {
  color: white;
  font-size: 20px;
  font-family: solaiman-lipi;
  font-weight: bold;
  font-style: italic;
}

.mhn-player .play-list .songs-info .songs-detail {
  color: ;
  font-size: 15px;
  font-family: solaiman-lipi;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mhn-player .play-list .songs-info .songs-detail span.song-artist {
  color: yellow;
}

.mhn-player .play-list .songs-info .songs-detail span.album {
  color: red;
}

.mhn-player .current-info {
  left:30px;
  right:30px;
  bottom:160px;
  margin-left: 15px;
  margin-right:-15px;
  position:absolute;
  text-shadow:0 2px 4px #000;
}
.mhn-player .current-info>div{
  margin-top:10px;
}
  
.mhn-player .current-info .song-artist {
  color: Cyan;
  font-size: 15px;
  margin-top:10px;
  font-family: solaiman-lipi;
  font-weight: Bold;
  font-style: itali;
}
  
.mhn-player .current-info .song-album {
  color: Red;
  font-size: 15px;
  margin-top:10px;
  font-family: solaiman-lipi;
  font-weight: Bold;
  font-style: itali;
}
  
.mhn-player .current-info .song-title {
  color: Yellow;
  font-size:20px;
  margin-top:10px;
  font-family: solaiman-lipi;
  font-weight: Bold;
  font-style: italic;
}
.mhn-player .current-info .fa{
  min-width:30px;
  font-size:18px;
  text-align:center;
  font-weight:normal;
}
.mhn-player .controls{
  margin-top:30px;
  position:relative;
}
.mhn-player .controls .toggle-play-list {
  right:5px;
  width:40px;
  color:#ccc;
  height:40px;
  bottom: 110px;
  border-radius:50%;
  line-height:40px;
  text-align:center;
  position:absolute;
  background-color:crimson;
}
.mhn-player .controls .fa-pp:before {
  content:'\f04b';
}
.mhn-player .controls .active .fa-pp:before{
  content:'\f04c';
}
.mhn-player .controls .progress{
  height:5px;
  margin:15px 0;
  position:relative;
  background: Red;
}
.mhn-player .controls .duration {
  color: White;
  font-size:14px;
}
.mhn-player .controls .progress .bar {
  width:0;
  display:block;
  height:inherit;
  background: Yellow;
  box-shadow:0 0 5px 0 #bc3958;
}
.mhn-player .controls .action-button a {
  width:40px;
  height:40px;
  font-size:16px;
  margin-right:5px;
  border:2px solid;
  line-height:35px;
  border-radius:50%;
  text-align:center;
  display:inline-block;
}

.mhn-player .controls .action-button a:nth-child(1) {
  background-color: blue;
  color: yellow;
}

.mhn-player .controls .action-button a:nth-child(2) {
  background-color: red;
  color: yellow;
}

.mhn-player .controls .action-button a:nth-child(3) {
  background-color: green;
  color: yellow;
}

.mhn-player .controls .action-button a:nth-child(4) {
  background-color: yellow;
  color: red;
}

.mhn-player .controls .action-button a:hover,
.mhn-player .controls .action-button a.active {
  background-color: white;
  color: Green;
}
.mhn-player .controls .action-button a .fa{
  font-size:inherit;
}


.volume{
  height:10px;
  width:100px;
  margin:0 5px;
  font-size:14px;
  cursor:pointer;
  display:inline-block;
  -webkit-appearance:none;
  background:transparent;
}
.volume::-webkit-slider-runnable-track{
  height:.5em;
  background: Magenta;
  border-radius:.25em;
  -webkit-appearance:none;
}
.volume::-moz-range-track{
  border:none;
  height:.5em;
  background: Tan;
  border-radius:.25em;
}
.volume::-ms-track{
  border:none;
  height:.5em;
  color:transparent;
  background: Orange;
  border-radius:.25em;
}
.volume::-webkit-slider-thumb{
  -webkit-appearance:none;
  position:relative;
  margin:-.25em;
  border:none;
  /* Firefox, IE */
  width:1em;
  height:1em;
  border-radius:.5em;
}
.volume::-moz-range-thumb{
  border:none;
  /* Firefox, IE */
  width:1em;
  height:1em;
  cursor:ew-resize;
  border-radius:.5em;
}
.volume::-ms-thumb{
  border:none;
  /* Firefox, IE */
  width:1em;
  height:1em;
  border-radius:.5em;
}
.volume::-ms-fill-lower, .volume::-ms-fill-upper{
  border-radius:5em;
  background:transparent;
}
.volume::-ms-tooltip{
  display:none;
}
.volume::-ms-fill-lower{
  background: Lime;
}
.volume::-webkit-slider-thumb{
  background: Red;
}
.volume::-moz-range-thumb{
  background: Yello;
}
.volume::-ms-thumb{
  background: Yellow;
}

.volume::-webkit-slider-runnable-track{
  background-size:50% 100%;
  background-repeat:no-repeat;
  background-image:linear-gradient(#f05e7b, #f05e7b);
}
.volume::-moz-range-track{
  background-size:50% 100%;
  background-repeat:no-repeat;
  background-image:linear-gradient(Yellow, Red);
}
.volume[data-css="0"]::-webkit-slider-runnable-track{background-size:0% 100%}
.volume[data-css="0"]::-moz-range-track{background-size:0% 100%}
.volume[data-css="0.1"]::-webkit-slider-runnable-track{background-size:10% 100%}
.volume[data-css="0.1"]::-moz-range-track{background-size:10% 100%}
.volume[data-css="0.2"]::-webkit-slider-runnable-track{background-size:20% 100%}
.volume[data-css="0.2"]::-moz-range-track{background-size:20% 100%}
.volume[data-css="0.3"]::-webkit-slider-runnable-track{background-size:30% 100%}
.volume[data-css="0.3"]::-moz-range-track{background-size:30% 100%}
.volume[data-css="0.4"]::-webkit-slider-runnable-track{background-size:40% 100%}
.volume[data-css="0.4"]::-moz-range-track{background-size:40% 100%}
.volume[data-css="0.5"]::-webkit-slider-runnable-track{background-size:50% 100%}
.volume[data-css="0.5"]::-moz-range-track{background-size:50% 100%}
.volume[data-css="0.6"]::-webkit-slider-runnable-track{background-size:60% 100%}
.volume[data-css="0.6"]::-moz-range-track{background-size:60% 100%}
.volume[data-css="0.7"]::-webkit-slider-runnable-track{background-size:70% 100%}
.volume[data-css="0.7"]::-moz-range-track{background-size:70% 100%}
.volume[data-css="0.8"]::-webkit-slider-runnable-track{background-size:80% 100%}
.volume[data-css="0.8"]::-moz-range-track{background-size:80% 100%}
.volume[data-css="0.9"]::-webkit-slider-runnable-track{background-size:90% 100%}
.volume[data-css="0.9"]::-moz-range-track{background-size:90% 100%}
.volume[data-css="1"]::-webkit-slider-runnable-track{background-size:100% 100%}
.volume[data-css="1"]::-moz-range-track{background-size:100% 100%}


.calendar {
  background:;
  color: Black;
  margin-top: 50px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
  
.calendar a {
  line-height: 30px;
}

a:after{
  position: absolute;
  content: "";
  background: #fff;
   background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%; /* if the font is 'Oswald'*/
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  animation: rotate 1.5s linear infinite;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
  
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: #fff;
}
  
@keyframes rotate {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}
  
  
  
.calendar i:before {
  color: Blue;
  margin-left: 50px;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    color:red;
  }
  
  25% {
    color:yellow;
  }
  
  50% {
    color:blue;
  }
  
  75% {
    color:green;
  }
  
  100% {
    color:red;
  }
}
  
  
  
  



/*======================================== FOOTER ========================================*/

footer {
    background-color: #333;
    color: #fff;
    width: 100%;
    height: 7vh;
    margin-top: -30px;
    padding: 0px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
}

footer p {
    color: yellow;
    padding: 3px;
    font-size: 30px;
    font-family: 'love-letters';
}

footer img {
  width: 20px;
  height: 20px;
  margin-top: 3px;
}

.dark-mode footer {
    background-color: red;
    border-top: 2px solid #fff;
}







  
  
  
/* ==================== MOBILE SCREEN ==================== */  
  
@media only screen and (max-width: 400px) {
  ..controls i {
    font-size: 10px;
  }
}
  
@media (max-width: 687px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr;
    align-items: start;
  }
}

@media (max-width: 369px) {
  .header h1 {
    font-size: 35px;
  }

  .header h5 {
    font-size: 11px;
  }

  .wrapper {
    width: 245px;
  }

  .img-area {
    height: 125px;
  }

  .song-details .name {
    font-size: 11px;
  }

  .song-details .artist {
    font-size: 12px;
  }

  .controls i {
    font-size: 15px;
  }

  .controls i:nth-child(2),
  .controls i:nth-child(4) {
    font-size: 30px;
  }

  .controls .play-pause {
    height: 20px;
    width: 20px;
  }

  .header .row {
    font-size: 12px;
  }

  .material-icons {
    font-size: 19px;
  }

  .header #close {
    font-size: 20px;
  }

  .music-list ul li .row span {
    font-size: 13px;
  }

  .music-list ul li .row p {
    font-size: 13px;
  }
}
