@import url('https://masumbillah6778.github.io/fonts/english/english-custom-font.css');
@import url('https://masumbillah6778.github.io/fonts/bangla/bangla-custom-font.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-green-color: #36ed22;
    --aboutus-background-green-color: rgb(28, 225, 97);
    --heading-color: #000;
    --primary-color: #2162e3;
    --heading-a-tag-color: #fff;
    --heading-a-tag-hover-color: #212121;
    --all-h2-color: #000;
    --aboutus-strong-color: #000;
    --aboutus-p-tag-color: #008;
    --aboutus-border-color: rgb(28, 225, 97);
}

.dark-mode {
    --header-green-color: #515251;
    --aboutus-background-green-color: rgb(7, 8, 7);
    --heading-color: #fff;
    --primary-color: #212121;
    --heading-a-tag-color: #f2f3f9;
    --heading-a-tag-hover-color: #36ed22;
    --all-h2-color: #fff;
    --aboutus-strong-color: #36ed22;
    --aboutus-p-tag-color: #fff;
    --aboutus-border-color: rgb(142, 144, 143);
}

body {
    background-image: url("https://github.com/masumbillah6778/image/raw/main/tania1.jpg");
    background-color: rgb(0,0,0,.2);
    background-blend-mode: overlay;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
	height: 100vh;
    /*width: 962px;
    aspect-ratio: 16 / 9;*/
    line-height: 1.6;
    overflow-x: hidden;
    border: 2px solid red;
}



body.dark-mode {
    background-image: url("https://github.com/masumbillah6778/image/raw/main/tania-thumbnail.jpg");
    background-color: ed;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /*width: 962px;
    aspect-ratio: 16 / 9;*/
    line-height: 1.6;
    overflow-x: hidden;
    border: 2px solid red;
}






/*======================================== Top Menu ========================================*/

.header {
    background-color: gray;
    width: 100%;
    height: 10vh;
    padding: 1.6rem 4.8rem;
    display: flex;
    top: 0;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 20px 0px rgba(132, 144, 255, 0.2);
    z-index: 9;
}

.dark-mode .header {
    background-color: #3beb2b;
}

.header img {
    height: 50px;
    padding-top: 20px;
    border-radius: 100px;
}

.brand-logo-name {
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    font-family: 'love-letters';
    letter-spacing: 2px;
    padding: 5px;
}

a {
    text-decoration: none;
    color: var(--heading-a-tag-color);
    transition: color 0.3s ease;
}

a.active {
  background-color: rgb(255,0,0);
  color: white;
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 10px;
}

a:hover {
    color: var(--heading-a-tag-hover-color);
}

.navbar-lists {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-lists li {
    margin-right: 20px;
}

.navbar-lists li:last-child {
    margin-right: 0;
}

.navbar-link {
    color: var(--heading-a-tag-color);
    padding: 10px;
    transition: background-color 0.3s;
}

.icon {
    display: none;
}

.navbar-lists li:nth-child(1) i {
    color: rgb(0,128,0);
}

.navbar-lists li:nth-child(2) i {
    color: rgb(0,0,255);
}

.navbar-lists li:nth-child(3) i {
    color: rgb(255,215,0);
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}






/*======================================== Audio & Video ========================================*/
.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

#about-us-section {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 3rem;
    padding-bottom: 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;

}

.dark-mode #about-us-section {
    border: 2px solid white;
}

.about-us-container {
    /*max-width: 800px;*/
    margin: 0 auto;
    padding: 0 20px;
}

.about-us-container p {
    font-size: 1.125rem;
    line-height: 1.6;
    color: var(--aboutus-p-tag-color);
    text-align: left;
}

.about-us-container p:first-of-type {
    margin-top: 0;
}

.about-us-container p:last-of-type {
    margin-bottom: 0;
}

.heading {
    color: red;
    font-size: 25px;
    font-family: 'sonsieone';
}

.content {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	row-gap: 10px;
	box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
}

.content .content-box {
	margin: 10px;
	padding: 10px;
	transition: transform .5s;
	border-radius: 10px;
	box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
}

.content .content-box:hover {
    transform: rotate(360deg);
}

.content .content-box .box {
  display: grid;
  place-items: center;
}

.content .content-box .box .cover-image {
	width: 200px;
}

.content .content-box .box .cover-image img {
	width: 100%;
}

.content .content-box .box .aritst-name {
	background-color: red;
  width: 100%;
  text-align: center;
}

.content .content-box .box .aritst-name a {
	color: yellow;
    padding: 10px 0px;
    font-size: 20px;
    font-family: solaiman-lipi;
    font-weight: bold;
}







/*======================================== FOOTER ========================================*/

footer {
    background-color: #333;
    color: #fff;
    width: 100%;
    height: 10vh;
    padding: 0px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
}

footer p {
    color: yellow;
    font-size: 40px;
    font-family: 'love-letters';
}

footer img {
    width: 30px;
    height: 30px;
}

.dark-mode footer {
    background-color: red;
    border-top: 2px solid #fff;
}








/*======================================== MOBILE SCREEN ========================================*/

@media screen and (max-width: 768px) {
    .header {
    background-color: red;
    width: 100%;
    height: 10vh;
    padding: 10px 20px;
    display: flex;
    top: 0;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 20px 0px rgba(132, 144, 255, 0.2);
    z-index: 9;
    }
    
    .header img {
      width: ;
    }

    .brand-logo-name {
      color: gold;
        font-size: 25px;
    }

    .icon {
        display: flex;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 999;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
        flex-direction: row-reverse;
    }
    
    .about-us-container {
      padding: 0 5px;
  }
    
    .audio-heading {
      color: gold;
      font-size: 20px;
    }
    
    .vdieo-heading {
      color: gold;
      font-size: 20px;
    }
    
    .imges-heading {
      color: gold;
      font-size: 20px;
    }

    .navbar-lists {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #3beb2b;
        width: 100%;
        padding-top: 10px;
        z-index: 998;
    }

    .navbar-lists.responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-lists.responsive li {
        margin: 10px 0;
    }

    .navbar-link {
        padding: 10px 20px;
    }

    .navbar-link i {
        display: none;
    }
  
    .content {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .content .content-box .box .cover-image img {
        display: block;
        margin: 0 auto;
    }
}

	
	
	/*========== Footer ==========*/
	footer {
        background-color: green;
        color: #fff;
        width: 100%;
        height: 6vh;
        padding: 0px 0;
        text-align: center;
        position: fixed;
        bottom: 0;
    }

    footer p {
        color: yellow;
        font-size: 20px;
        font-family: 'love-letters';
    }

    footer img {
        width: 30px;
        height: 30px;
        margin-top: 5px;
    }

    .dark-mode footer {
        background-color: #222;
        border-top: 2px solid #fff;
    }
}












